<div fxLayout="column" fxLayoutAlign="center center" class="content">
  <div class="spell-card" [ngClass]="{'correct': answer === word.foreignWord, 'bordered': word.state > 5}" fxLayout="column" fxLayoutAlign="center center"    
    [@skipWord]='skipWordStarter' (@skipWord.done)='reviseWordDone($event)'
    [@reviseWord]='reviseWordStarter' (@reviseWord.done)='reviseWordDone($event)' 
    [@newWord]='word?.id'>
    <span>{{word?.native}}</span>
    <mat-form-field>
      <input matInput [ngModel]="answer" #answerfield (ngModelChange)="answerChanged($event)">
    </mat-form-field>
    <button *ngIf="answer !== word.foreignWord" fxFlexAlign="end" mat-button color="primary" (click)="revise()">I don't know</button>
    <button *ngIf="answer === word.foreignWord" fxFlexAlign="end" mat-button color="primary" (click)="ok()">OK</button>
  </div>
</div>