<div fxLayout="column" fxLayoutAlign="center center" class="content">
  <div class="spell-card" [ngClass]="{'correct': answer === word.foreignWord}" fxLayout="column" fxLayoutAlign="center center"    
    [@skipWord]='skipWordStarter' (@skipWord.done)='reviseWordDone($event)'
    [@reviseWord]='reviseWordStarter' (@reviseWord.done)='reviseWordDone($event)' 
    [@newWord]='word?.id'>
    <span>{{word?.native}}</span>
    <mat-form-field>
      <input matInput [ngModel]="answer" #answerfield (ngModelChange)="answerChanged($event)">
    </mat-form-field>
    <button *ngIf="answer !== word.foreignWord" fxFlexAlign="end" mat-button color="primary" (click)="revise()">I don't know</button>
    <button *ngIf="answer === word.foreignWord" fxFlexAlign="end" mat-button color="primary" (click)="ok()">OK</button>
  </div>

  <button *ngIf="(word.audioFile !== undefined && word.audioFile.indexOf('http://') != -1)" mat-icon-button color="primary"
    (click)="play()" class="audio-button">
    <i class="material-icons md-48">volume_up</i>
  </button>
</div>