.content {
    height: 100vh;
}

.spell-card {
    width: 80%;
    background-color: lightyellow;
    border-radius: 10px;
}

.audio-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px 20px;
}

.correct {
    background-color: lightgreen;
}