<div fxLayout="column" fxLayoutAlign="center center" class="content">
    <div class="spell-card" (click)="onFlipCard()" fxLayout="column" fxLayoutAlign="center center">
        <span>{{(word?.nativeSide ? !isFlipped : isFlipped) ? word?.native : word?.foreignWord}}</span>
    </div>
    <button *ngIf="(word.audioFile !== undefined && word.audioFile.indexOf('http://') != -1)" mat-icon-button color="primary" (click)="play()" class="audio-button">
      <i class="material-icons md-48">volume_up</i>
    </button>
  </div>
