body {
  background: darkseagreen;
}

#actionSelector button {
  margin:         0px;
  border:         1px solid gray;
  padding:        0px;
  width:          49%;
  height:         30px;
  background:     none;
}

#actionSelector button.selected {
  background:     mediumseagreen;
}

#form {
  background:     mediumseagreen;
  width: 50%;
  margin: 10px auto;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #888888;
  overflow: hidden;
}

#form div {
  display: block;
}

#form div.hidden {
  display: none;
}

#form label, #form input {
  display: inline-block;
}

#form label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
    vertical-align: top;
    padding: 7px 0px 0px 0px;
}

#form label + input,
#form label + select,
#form label + ul {
    display: inline-block;
    list-style-type: none;
    padding: 0px;
    width: 50%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 7px 5% 7px 4%;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button*/
#btnSubmit {
    float: right;
    margin: 10px 10%;
}

@media (max-width: 600px) {
  #form {
    width: 90%;
  }
}
