*.notValid {
  border: 2px solid red;
}

body {
  background: darkseagreen;
}

#actionSelector button {
  margin:         0px;
  border:         1px solid gray;
  padding:        0px;
  width:          49%;
  height:         30px;
  background:     none;
}

#actionSelector button.selected {
  background:     mediumseagreen;
}

#form {
  background:     mediumseagreen;
  width: 50%;
  margin: 10px auto;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #888888;
  overflow: hidden;
}

#form div {
  display: block;
}

#form div.hidden {
  display: none;
}

#form label, #form input {
  display: inline-block;
}

#form label {
    width: 48%;
    /* positions the label text beside the input */
    text-align: right;
    vertical-align: top;
    padding: 7px 0px 0px 0px;
    font-size: 1.2em;
}

#form label + input,
#form label + select,
#form label + ul {
    display: inline-block;
    list-style-type: none;
    padding: 0px;
    width: 40%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 7px 2% 7px 1%;
    font-size: 1.2em;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button*/
#btnSubmit,
#btnCancel {
    float: right;
    margin: 10px 5% 10px 0%;
}

#btnCancel {
  background-color: lightcoral;
}

#btnCancel.hidden {
  display: none;
}

#historyTable {
  width: 50%;
}

#historyTable td.hidden_column,
#historyTable th.hidden_column {
  display: none;
}

@media (max-width: 600px) {
  #form {
    width: 99%;
  }

  #historyTable {
    width: 99%;
  }
}
