<!doctype html>
<html>
  <head>
    <title>Siki Portal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

      <header id="page-header">
          <section id="page-header-title">
              <h1>Siki's portal</h1>
          </section>
          <hr>
      </header>

      <section id="page-content">
          <section id="app-chooser">
              <a href="car">Car</a>
              <a href="shop">Shopping list</a>
              <a href="java">Learn Java</a>
          </section>
      </section>

      <footer id="page-footer">
          <hr>
          <p>If the case of any issue call Siki :)</p>
      </footer>

    </body>
</html>
