body {
  background-color 	: black;
	font-size			: 20px;
	color				: lightgray;
}

.container {
  width: 30%;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 800px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  text-align: center;
}

#card figure {
  color: black;
  font-weight: bold;
  margin: 0;
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

#card figure .word {
  display: table-cell;
  vertical-align: middle;
}

#card .front {
  background: lightgray;
}
#card .back {
  background: lightgray;
  transform: rotateY(-180deg);
}

#card.flipped .front {
  transform: rotateY(180deg);
}
#card.flipped .back {
  transform: rotateY(0deg);
}

#progressBar {
	background-color	: lightgreen;
	height				: 7px;
}

.hidden {
  display: none;
}

#loginForm {
  /*background:     mediumseagreen;*/
  width: 50%;
  margin: 10px auto;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #888888;
  overflow: hidden;
}

#loginForm label, #loginForm input {
  display: inline-block;
}

#loginForm label {
    width: 48%;
    /* positions the label text beside the input */
    text-align: right;
    vertical-align: top;
    padding: 7px 0px 0px 0px;
    font-size: 1.2em;
}

#loginForm label + input {
    display: inline-block;
    list-style-type: none;
    padding: 0px;
    width: 40%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 7px 2% 7px 1%;
    font-size: 1.2em;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button*/
#btnSubmit {
    float: right;
    margin: 10px 5% 10px 0%;
}

#sl-footer {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 600px) {

  #loginForm {
    width: 99%;
  }

  .container {
    width:	80%;
  }

}
