<div id="questionaire">

  <p id="question">{{questionNr}}. {{question.question}}</p>

  <pre id="codeArea" style="line-height: 16px; height: {{codeAreaHeight}}px;">{{question.code}}</pre>

  <div id="answers">
    <div class="answer" ng-repeat="answer in question.answers" ng-class="answer.class">
      <label><input type="checkbox" ng-model="answer.selected">{{answer.ANSWER}}</label>
    </div>
  </div>

    <div id="questionaireHeader">
      <button id="btnCheck" ng-click="checkAnswers()" ng-class="{'hidden':action == 'next'}">Check</button>
      <button id="btnNext" ng-click="next()" ng-class="{'hidden':action == 'check'}">Next</button>
      <button id="btnReset" ng-click="reset()" >Reset</button>
      <label id="lblPercent">{{percent}}%</labelrs>
    </div>

  <pre id="explanation" ng-class="{'hidden':action == 'check'}">{{question.explanation}}</pre>

</div>
