<div>

  <div id="actions">
    <button id="btnCheck" ng-click="checkAnswers()" >Check</button>
    <button id="btnNext" ng-click="next()" >Next</button>
    <button id="btnReset" ng-click="reset()" >Reset</button>
  </div>

  <p id="question">{{question.question}}</p>

  <div id="codeArea" >
    <textarea>{{question.code}}</textarea>
  </div>

  <div id="answers">
    <div class="answer" ng-repeat="answer in question.answers" ng-class="answer.class">
      <input type="checkbox" ng-model="answer.selected">{{answer.ANSWER}}
    </div>
  </div>

</div>
