body {
  background-color: burlywood;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.hidden {
  display: none;
}

#questionaireHeader {
  margin: 10px 0px;
  padding: 10px;
  background-color: aliceblue;
}

#lblPercent {
  display: block;
  text-align: center;
}

#btnReset {
  float: right;
}

#codeArea {
  background-color: ivory;
  border: 1px solid black;
  width: 99%;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: auto;
}

#question {
  font-weight: bold;
}

#explanation {
  white-space: pre-line;
}

@media (max-width: 600px) {

  #answers {
    font-size: 0.8em;
  }

  #codeArea {
    font-size: 0.8em;
  }

  #explanation {
    font-size: 0.8em;
  }

}
