.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

#codeArea textarea {
  width: 99%;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: auto;
}

#question {
  font-weight: bold;
}
