<div id="learnView" layout="column" flex>

  <div layout="row">
    <div id="progressBar" ng-style="{width : progressBarWidth}" layout="column"></div>
  </div>

  <div layout="row" flex></div>

  <div layout="row">
    <button id="audioButton" ng-click="playCachedAudio()" ng-class="{hidden : word.audioFile == ''}"></button>
    <!--<md-button class="md-raised" ng-click="sendData()">Submit</md-button>-->
  </div>

  <section class="card-container">
    <div id="card" ng-class="{flipped: isFlipped}">
      <figure class="front" ng-class="{knownWord: word.state > 5}"><span class="word" ng-bind="word.native"></figure>
      <figure class="back" ng-class="{knownWord: word.state > 5}"><span class="word" ng-bind="word.foreignWord"></figure>
    </div>
  </section>

  <script src="/js/learnWords/gestures.js"></script>
</div>
