<div layout="column" layout-align="center" layout-margin flex>
  <!--<form id="loginForm" method="post">-->
  <md-input-container>
    <label>Username</label>
    <input type="text" name="username" ng-model="username"/>
  </md-input-container>
  <md-input-container>
    <label>Password</label>
    <input type="password" name="password" ng-model="password"/>
  </md-input-container>
  <div layout="row">
      <md-button class="md-raised md-primary" ng-click="register()" flex>Register</md-button>
      <md-button class="md-raised" ng-click="submit()" flex>Login</md-button>
  </div>
  <div layout="row">
    <md-progress-circular ng-disabled="!busy.state"></md-progress-circular>
    <span ng-disabled="!busy.state" style="margin: auto 10px;">{{busy.message}}</span>
  </div>
  <!--</form>-->
</div>
