<div layout="column" flex>
  <form id="newWordForm" layout="row">
    <div layout="column" flex>
      <label for="txtForeign">Foreign: </label>
      <div layout="row">
        <input id="txtForeign" type="text" ng-model="newWord.foreignWord" flex/>
        <button id="newWordSearch" ng-click="search(newWord.foreignWord)"></button>
      </div>
      <label for="nativeSelect">Native: </label>
      <div layout="row">
        <div class="select-editable" flex>
          <select id="nativeSelect" ng-model="newWord.native">
            <option ng-repeat="native in natives" ng-value="native.name">{{native.name}}</option>
          </select>
          <input type="text" ng-model="newWord.native">
        </div>

        <!--<select id="nativeSelect" ng-model="newWord.native">
          <option ng-repeat="native in natives" ng-value="native.name">{{native.name}}</option>
        </select>-->
        <span>{{natives.length}}</span>
        <md-button id="newWordSubmit" ng-click="submit()" flex="20" class="md-raised"
          ng-disabled="(newWord.native == '' || newWord.foreignWord == '' || (oxfords != undefined && oxfords.length > 0 && newWord.definition == ''))">Add</md-button>
      </div>
    </div>
  </form>
  <md-content layout="row" style="background-color: black; color: lightgray;" flex>
    <md-list id="definitionList" ng-model="newWord.definition" style="overflow: auto; white-space: normal;">
      <md-list-item ng-repeat="oxford in oxfords" ng-value="oxford.definition" ng-click="selectItem(oxford)">
        <div ng-class="{'selected': newWord.definition == oxford.definition}" style="line-height: normal;">
          <span id="lexicalCategory">{{oxford.lexicalCategory}}</span>
          <span id="pronunciation">/{{oxford.pronunciation}}/</span>
          <md-button class="smallAudioButton" ng-click="play(oxford.audioFile)"></md-button>
          <span id="definition">{{oxford.definition}}</span>
          <span id="example">{{oxford.example}}</span>
          <!--<p><strong>{{oxford.lexicalCategory}}</strong><br />{{oxford.definition}}<br /><i>{{oxford.example}}</i></p>-->
        </div>
      </md-list-item>
    </md-list>
  </md-content>
  <div ng-show="busy.state" layout="row" flex="10">
    <md-progress-circular></md-progress-circular>
    <span style="margin: auto 10px;">{{busy.message}}</span>
  </div>
</div>
