<!DOCTYPE html>
<html>
    <header>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/south-street/jquery-ui.min.css">
      <link rel="stylesheet" href="/css/carInfo/carInfoStyles.css">
        <title>Car info</title>


    </header>
    <body>
      <div id="actionSelector">
        <button id="btnRefuel" class="selected">Tankolás</button>
        <button id="btnService">Szervíz</button>
      </div>

      <div id="form">
        <form method="post">
          <input id="actionType" type="hidden" name="actionType" value="1"/>
          <label for="regNumberSelector">Autó:</label>
          <select id="regNumberSelector" name="carId">
          </select>
          <label for="datepicker">Dátum:</label>
          <input id="datepicker" name="actionDate" type="text" readonly />
          <label for="km">Km óra:</label>
          <input id="km" name="km" type="number" />
					<div id="refuelInputs">
						<label for="fuelAmountField">Tankolt üzemanyag:</label>
						<input id="fuelAmountField" name="fuelAmount" type="number" min="0" step="any"/>
						<label for="fuelCostField">Üzemanyag ár:</label>
						<input id="fuelCostField" name="fuelCost" type="number" min="0" step="any"/>
					</div>
					<div id="serviceInputs" class="hidden">
						<label for="fixCostField">Javítás ára:</label>
						<input id="fixCostField" name="serviceCost" type="number" min="0" step="any"/>
            <label for="serviceItems">Szervíz elemek:</label>
            <ul id="serviceItems">
            </ul>
					</div>
          <span id="resultMessage"></span>
          <input id="btnSubmit" type="submit" value="Elküld" />
        </form>
      </div>

      <div id="refuelData">
        <table id="refuelTable"></table>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script>
        // onLoad
        $(function() {
          $( "#datepicker" ).datepicker({
          firstDay: 1,
          dateFormat: "yy-mm-dd"
            });
          $( "#datepicker" ).val($.datepicker.formatDate('yy-mm-dd', new Date()));

          $.ajax({
            url: '/api/carInfo/cars',
            type: 'get',
            success: function(data){
              $.each(data, function(i, car){
                $("#regNumberSelector").append($("<option></option>").attr("value",car.id).text(car.regNumber));})
            }
          });

          $.ajax({
            url: '/api/carInfo/serviceItems',
            type: 'get',
            success: function(data){
              $.each(data, function(i, serviceItem){
                $("#serviceItems")
                  .append($("<li></li>")
                    .append($('<input type="checkbox" name="serviceItems" value="' + serviceItem.id + '" ><span>' + serviceItem.serviceName + '</span>'))
                  );
                });
            }
          });

          $.ajax({
            url: '/api/carInfo/refuelData',
            type: 'get',
            success: function(data){
              console.log(data);
              $.each(data, function(i, refuelData){
                $("#refuelTable")
                .append($("<tr></tr>")
                .append($('<td>' + refuelData.actionDate + '</td><td>' + refuelData.regNumber + '</td><td>' + refuelData.fuelAmount + '</td>'))
                );
              });
            }
          });

        });

        // Service or refuel
        $("#actionSelector button").click(function(e){
          if (!$(this).hasClass("selected")) {
            $("#actionSelector button").toggleClass("selected");
            $("#form div").toggleClass("hidden");

            if ($(this).attr("id") == "btnRefuel") {
              $("#actionType").val("1");
            } else if ($(this).attr("id") == "btnService") {
              $("#actionType").val("2");
            }
          }
        });

        $("#form form").submit(function(e){
          if (!formValid()) { e.preventDefault(); return; }
          var url;
          if ($("#actionType").val() == 1) { url = '/api/carInfo/refuelData'; }
          else { url = '/api/carInfo/serviceData'; }
          $.ajax({
            url: url,
            type: 'post',
            data: $("#form form").serializeArray(),
            success: function(data){
              if (data.message == "Success"){
                $("#resultMessage").text("Mentés sikeres!").attr("class", "success");
                location.reload(true);
              } else {
                $("#resultMessage").text("Hiba: " + data.message).attr("class", "failure");
              }
              setTimeout(function(){
                $("#resultMessage").attr("class", "");
              }, 10000);
            }
          });
          e.preventDefault();
        });

        function formValid(){
          var valid = true;
          if (!$("#km").val()) { $("#km").attr("class", "notValid"); valid = false; }
          else { $("#km").attr("class", ""); }
          if ($("#actionType").val() == 1) {
            if (!$("#fuelAmountField").val()) { $("#fuelAmountField").attr("class", "notValid"); valid = false; }
            else { $("#fuelAmountField").attr("class", ""); }
          } else {
            if (!$("#fixCostField").val()) { $("#fixCostField").attr("class", "notValid"); valid = false; }
            else { $("#fixCostField").attr("class", ""); }
          }
          return valid;
        };

      </script>
    </body>
</html>
