md-input-container label {
  color: darkgray;
}

md-input-container:not(.md-input-invalid).md-input-has-value label {
  color: darkgray;
}

md-input-container .md-input {
  border-color: darkgray;
  color: white;
}

.md-button.md-raised[disabled] {
  background-color: rgba(250, 250, 250, 0.5);
}

body {
  background-color 	: black;
	font-size			: 20px;
	color				: lightgray;
}

.knownWord {
  border: 4px solid green;
}

.md-button {
  min-width: 0px;
  min-height: 0px;
}

.card-container {
  width: 30%;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 800px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  text-align: center;
}

#card figure {
  color: black;
  font-weight: bold;
  margin: 0;
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #888888;
}

#card figure .word {
  display: table-cell;
  vertical-align: middle;
}

#card .front {
  background: lightgray;
}
#card .back {
  background: lightgray;
  transform: rotateY(-180deg);
}

#card.flipped .front {
  transform: rotateY(180deg);
}
#card.flipped .back {
  transform: rotateY(0deg);
}

#progressBar {
	background-color	: lightgreen;
	height				: 7px;
}

.hidden {
  display: none;
}

#audioButton{
	background			: url(/learnWords/images/audio_out.jpg) no-repeat;
  background-size: contain;
	width: 50px;
  height: 50px;
	border				: 0;
  float: right;
}
.smallAudioButton {
  background			: url(/learnWords/images/audio_out.jpg) no-repeat;
  background-size: contain;
  min-width: 0px;
  min-height: 0px;
	width: 25px;
  height: 25px;
	border				: 0;
}

/* New Word Page */

#newWordSearch{
	background			: url(/learnWords/images/search_icon.png) no-repeat;
  background-size: contain;
	width: 40px;
  height: 40px;
	border				: 0;
  margin: auto 0px auto 10px;
}

#newWordForm {
  width: 70%;
  margin: 5px auto;
}

#newWordForm label {
  width: 15%;
  vertical-align: middle;
  padding: 7px;
}

#nativeSelect {
  color: black;
}

#newWordSubmit {
  display: block;
  float: right;
  margin: 0px 0px 0px 10px;
}

#definitionList {
  font-size: 12px;
}

md-list-item div {
  margin: 3px 0px;
}

.selected {
  /*background-color: #333;*/
  font-size: 1.2em;
  color: wheat;
}

#lexicalCategory {
  font-weight: bold;
}
#pronunciation {
  margin: 0px 5px;
}
#definition {
  display: block;
}
#example {
  font-style: italic;
}

.narrow-input {
  margin: 18px 0 0 0;
  height: 35px;
}

.select-editable {
    display: inline-block;
    position:relative;
    background-color:white;
    border:solid grey 1px;
    width: 60%;
    height: 30px;
}
.select-editable select {
    position:absolute;
    top:0px;
    left:0px;
    border:none;
    width: 100%;
    margin:0;
}
.select-editable input {
    position:absolute;
    top:0px;
    left:0px;
    width: 90%;
    padding:1px;
    border:none;
    color: black;
}
.select-editable select:focus, .select-editable input:focus {
    outline:none;
}

@media (max-width: 600px) {

  #loginForm {
    width: 99%;
  }

  .card-container {
    width:	80%;
  }

  /* New word page */

  #newWordForm {
    width: 100%;
    margin: 5px auto;
  }

  #newWordForm label {
    width: 50%;
    vertical-align: middle;
    padding: 7px;
  }

  #txtForeign {
    width: 80%;
    height: 30px;
  }
/*
  #newWordForm input,
  #newWordForm select {
    width: 70%;
    height: 30px;
  }
*/
/*
  #newWordForm button,
  #newWordForm span {
    width: 22%;
    height: 30px;
  }
*/
  .select-editable {
      width: 70%;
  }
}
