.content {
    color: white;
}

.search-box {
    margin: 10px;
    height: 40px;
}

.native-box {
    margin: 10px;
    height: 40px;
}

.audio-button {
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.oxford-item {
    margin: 10px;
    font-size: 12px;
    line-height: normal;
}

.example-sentence {
    font-style: italic;
}

.selected {
    /*background-color: #333;*/
    font-size: 1em;
    color: wheat;
  }